.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

.ion-activatable {
background:pink;
}

ion-icon{
  background:green;
  
}

ion-fab-button{
  background:green;

}

ion-fab.hydrated{
  background:green;
}

ion-tab-button{
  width: 20px;
  height: 20px;
}