
<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="blog">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" *ngIf="loggedIn">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" *ngIf="loggedIn">
      <ion-icon name="map"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" *ngIf="!loggedIn">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
