
  <!-- <ion-item-sliding *ngFor="let user of users" (click)="createNewConversation(user, $event); false">
        <ion-item href="#">
          <ion-label>
            <h2>{{user.firstname}}</h2>
            <p>{{user.firstname|slice:0:1}}</p> 
          </ion-label>
          <ion-note slot="end">
            time
          </ion-note>
        </ion-item>
    
        <ion-item-options side="start">
          <ion-item-option>
            <ion-icon slot="icon-only" name="heart"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
          <ion-item-option>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding> -->


<!-- <span >
    <ion-chip>
        <ion-label
        ><a href='#' *ngFor="let user of users" (click)="createNewConversation(user, $event); false">
            {{user.firstname|slice:0:1}}{{user.lastname|slice:0:1}} </a>
          </ion-label>
      </ion-chip>
</span> -->

<div class="d-block font-weight-bold bg-dark text-white text-right rounded p-2">
    <h6 class='mb-0'><i class="ion-ios-person" data-pack="default" data-tags="talk"></i> Users</h6>
  </div>
  <div class="user-list" >
    <div class="list-group mb-2" *ngFor="let user of users">
      <div *ngIf="no_user;">
          <br/>
          <!-- <ngb-alert type="success" [dismissible]="false"> -->
            <span>It looks lonely here... Sign up another user</span>
          <!-- </ngb-alert> -->
      </div>
      <a href='#' 
      class="list-group-item list-group-item-action p-2 border-0 bg"
      (click)="createNewConversation(user, $event); false">
  {{user.username}}</a>
    </div>
  </div>