.user-list {
  height: auto;
  max-height: 30vh !important;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.bg {
  background-color: #e4e7eb;
}

.list-group-item:hover {
  color: white;
  background-color: gray; 
}

.hover {
  cursor: pointer;
}
.complete {
  color: green;
}
.card-title {
  margin: 12px 0 0 12px !important;
}