<!-- <nav class="navbar navbar-toggleable-md navbar-inverse navbar-dark bg-dark fixed-top">
  <a class="navbar-brand text-white" routerLink='/'>
    <img src="../../assets/img/chat.png" width="30" height="30" class="d-inline-block align-top" alt="http://freepngimg.com/png/11489-chat-free-download-png">
    <strong>ChatQL</strong>
  </a>
  <ul class="nav navbar-nav">
    <li *ngIf="isLoggedIn" class="nav-item">
        <button class="btn btn-primary" (click)="signOut()">Sign Out <i class="ion-log-in" data-pack="default" data-tags="sign in"></i></button>
    </li>
  </ul>
</nav> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" ></mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
        <a *ngIf="isLoggedIn" mat-list-item [routerLink]="['/dashboard']">
          <mat-icon class="icon">home</mat-icon>
          <span class="label">Home</span>
        </a>
        <a *ngIf="isLoggedIn" mat-list-item [routerLink]="['/chat']">
          <mat-icon class="icon">event</mat-icon>
          <span class="label">Chat</span>
        </a>
        <a *ngIf="isLoggedIn" mat-list-item [routerLink]="['/workout']">
          <mat-icon class="icon">fitness_center</mat-icon>
          <span class="label">Workout</span>
        </a>
        <a *ngIf="isLoggedIn" mat-list-item [routerLink]="['/measurement']">
          <mat-icon class="icon">playlist_add_check</mat-icon>
          <span class="label">Measure</span>
        </a>

      <a *ngIf="!isLoggedIn" mat-list-item [routerLink]="['/compare']">
        <span class="label">Compare</span>
        <mat-icon class="icon">done</mat-icon>
      </a>
      <a *ngIf="!isLoggedIn" mat-list-item [routerLink]="['/calendar']">
        <span class="label">Calendar</span>
        <mat-icon class="icon">event</mat-icon>
      </a>
      <mat-divider></mat-divider>
      <a *ngIf="!isLoggedIn" mat-list-item [routerLink]="['/chart']">
        <mat-icon class="icon">settings</mat-icon>
      </a> 
      <!-- <a *ngIf="isAuthenticated()" mat-list-item [routerLink]="['/profile']">
        <mat-icon class="icon">account_circle</mat-icon>
      </a> 
      <a *ngIf="isLoggedIn" mat-list-item [routerLink]="['/chart']">
        <mat-icon class="icon">people</mat-icon>
      </a>-->
    
    <a *ngIf="isLoggedIn" mat-list-item  (click)="signOut()">
      <mat-icon class="icon">exit_to_app</mat-icon>
      <span class="label">LogOut</span>
    </a>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span (click)="drawer.toggle()">Menu</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

