<!-- <div class="d-block font-weight-bold bg-dark text-white text-right rounded p-2">
  <h6 class='mb-0'><i class="ion-ios-person" data-pack="default" data-tags="talk"></i> Users</h6>
</div>
<div class="user-list">
  <div class="list-group mb-2">
    <div *ngIf="no_user;">
        <br/>
        <ngb-alert type="success" [dismissible]="false"> 
          <span>It looks lonely here... Sign up another user</span>
        </ngb-alert>
    </div>
    <a href='#' *ngFor="let user of users"
    class="list-group-item list-group-item-action p-2 border-0 bg"
    (click)="createNewConversation(user, $event); false">
    {{user.username}}</a>
  </div>
</div> -->

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Users</mat-card-title>
      <mat-card-subtitle><i>subtitles of users...</i></mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <mat-card>
            <div *ngIf="no_user;">
                <br/>
                <!-- <ngb-alert type="success" [dismissible]="false"> -->
                  <span>It looks lonely here... Sign up another user</span>
                <!-- </ngb-alert> -->
            </div>
            <mat-chip-list *ngFor="let user of users" class="mat-chip-list-stacked">
          
              <mat-chip>
                <a href='#' [class.active]="current && convo.id === current.id" (click)="createNewConversation(user, $event); false">
                  <mat-icon>forum</mat-icon>
                  {{user.username}}</a>
              </mat-chip>
          
            </mat-chip-list>
          </mat-card>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>