/* .list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  background-color: gray !important;
}

.convo-list {
  height: auto;
  max-height: 30vh !important;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.bg {
  background-color: #e4e7eb;
}

.list-group-item:hover {
  color: white;
  background-color: gray; 
} */

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}