<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding-top text-center>


  <!-- 
  <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar"> -->
  <ion-icon name="create" *ngIf="showPhoto" (click)="editPhoto()" size="2x" class="upload-icon"></ion-icon>
  <amplify-s3-image *ngIf="image" [path]="image" [options]="{'level': 'private'}"></amplify-s3-image>
  <!-- {{image|json}}
  <div *ngIf="image" class="amplify-album">
    <div class="amplify-album-container">
      <amplify-s3-image-core
        class="amplify-image-container"
        path="{{image}}"
        [options]="{level:'private'}"
        (selected)="onImageUploaded($event)"
      ></amplify-s3-image-core>
    </div>
  </div> -->

  <amplify-photo-picker *ngIf="!showPhoto" path="profile" [storageOptions]="{'level': 'private'}" (uploaded)="onImageUploaded($event)">
  </amplify-photo-picker>


  <h2>{{username}}</h2>
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    <div formGroupName="userData">

      <ion-list>
        <ion-list-header>
          Personal Information
        </ion-list-header>

        <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col class="text-left" size="5"> Name here? </ion-col>
                <ion-col class="text-center" size="7">
                  <ion-input type="text" formControlName="firstName">update??</ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-textarea formControlName="lastName"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>User Name</ion-label>
          <ion-textarea formControlName="userName"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Goal</ion-label>
          <ion-textarea formControlName="goal" placeholder="goal"></ion-textarea>
        </ion-item>
      </ion-list>
      <button ion-button type="submit" [disabled]="!profileForm.valid">Update</button>
    </div>
  </form>

  <!-- <div padding-top text-center *ngIf="userId">



    <ion-list>
      <ion-item>Goal: {{goal}}</ion-item>
    </ion-list>

    <ion-list inset>
      <ion-item (click)="updatePicture()">Update Picture</ion-item>
      <ion-item (click)="changeUsername()">Change Username</ion-item>
      <ion-item (click)="changePassword()">Change Password</ion-item>
      <ion-item (click)="changeGoal()">Change Goal</ion-item>
      <ion-item (click)="support()">Support</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </div> -->

</ion-content>