<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top text-center>
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    <div formGroupName="userData">
      <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <amplify-s3-image *ngIf="showPhoto" [path]="image" [options]="{'level': 'private'}"></amplify-s3-image>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-list-header>
          Personal Information
        </ion-list-header>

        <ion-item>
          <ion-label>First Name:</ion-label>
          <ion-input class="text-center" size="7" type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Last Name:</ion-label>
          <ion-input class="text-center" size="7" type="text" formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>User Name:</ion-label>
          <ion-input class="text-center" size="7" type="text" formControlName="userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Goal:</ion-label>
          <ion-textarea rows="4" cols="20" formControlName="goal"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Picture:</ion-label>
          <ion-button (click)="showPhoto = !showPhoto" fill="outline" slot="end">Change profile photo</ion-button>
        </ion-item>
        <ion-card>
          <ng-template class="my-template" [ngIf]="!showPhoto">
            <ion-item>
              <ion-button (click)="showPhoto = !showPhoto" fill="outline" slot="end">Close</ion-button>
            </ion-item>
            <amplify-photo-picker path="profile" [storageOptions]="{'level': 'public'}" (uploaded)="onImageUploaded($event)">
            </amplify-photo-picker>
          </ng-template>
        </ion-card>
      </ion-list>
      <ion-button expand="block" color="primary" type="submit" [disabled]="!profileForm.valid">Update</ion-button>
    </div>
  </form>
</ion-content>