<!-- <form> -->
    <ion-input placeholder="Type a Message" id="message" [(ngModel)]="message" name="message" (keyup.enter)="createNewMessage()"></ion-input>
    <ion-button (click)="createNewMessage()">Send</ion-button>
  <!-- <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" (click)="createNewMessage()">Send &nbsp;
      <mat-icon class="icon">chat</mat-icon>
    </button>

    <ion-button (click)="createNewMessage()">Send</ion-button>
  </div> -->
<!-- </form> -->

<!-- Input with placeholder -->



<!-- <div class="rounded p-2 mt-2 bg border border-dark rounded">
  <div class="input-group">
    <input type="text" class="form-control no-focus"
    required placeholder="Type a Message"
    id="message" [(ngModel)]="message" name="message"
    (keyup.enter)="createNewMessage()" />
    <span class="input-group-btn">
      <button class="btn btn-dark" (click)="createNewMessage()" type="button">
        Send&nbsp;<i class='ion-chatbubble-working'></i>
      </button>
    </span>
  </div>
</div> -->



