<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sleep History</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding fullscreen>
      <ion-label>
          <ion-text color="primary">
            <h2>Sleep History</h2>
          </ion-text>
          <div id="chart-container">
            <canvas id="canvas"></canvas>
          </div>
        </ion-label>
  </ion-content>
  
