<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

      <div *ngIf="update">
          <p>
            <!-- <ngb-alert type="primary" [dismissible]="false"> -->
              <span>New version available
                <ion-button color="primary" shape="round" (click)="activateUpdate()">Update</ion-button>
                <br>
              </span>
            <!-- </ngb-alert> -->
          </p>
        </div>


      <ion-button (click)="add_to_home(event)" *ngIf="showBtn" >Install</ion-button>
    <div>test</div>
        <p>Happy October! I hope all is well. There are so many things to talk about this month, but I plan to focus on the fact that it is both Children's Health Month and National Depression and Mental Health Screening Month. Both healthy kids and mental wellness are 2 topics very close to my heart, so I hope I can share with you what I know an
    </p>
  </ion-content>