<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My Journal</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content padding fullscreen>
      <ion-list>
          <ion-item (click)="sleep()">
            <ion-label>Sleep</ion-label><ion-icon name="arrow-round-forward" size="large"></ion-icon>
          </ion-item>
          <ion-item (click)="nutrition()">
            <ion-label>Nutrition</ion-label><ion-icon name="arrow-round-forward" size="large"></ion-icon>
          </ion-item>
        </ion-list>
  </ion-content>
  