<ion-header>
  <ion-toolbar>
    <ion-title>confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="confirmationForm">
        <ion-list>
            <!-- <ion-item>
              <ion-label position="stacked" color="primary">email</ion-label>
              <ion-input placeholder= {{formControlName.email}} formControlName="email" type="email"  required>
              </ion-input>
            </ion-item> -->
  
            <ion-item>
                <ion-label position="stacked" color="primary">Email</ion-label>
                <ion-input formControlName="email" type="email" [ngClass]="{ 'is-invalid':f.email.errors }">
                </ion-input>
              </ion-item>
      
            <!-- <ion-text color="danger">
              <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
                Username is required
              </p>
            </ion-text> -->
      
            <ion-item>
              <ion-label position="stacked" color="primary">Confirmation Code:</ion-label>
              <ion-input  type="text" formControlName="confirmationCode" required>
              </ion-input>
            </ion-item>
      
            <!-- <ion-text color="danger">
              <p [hidden]="confirmationCode.valid || submitted == false" class="ion-padding-start">
                  confirmation code is required
              </p>
            </ion-text> -->
          </ion-list>
  
        <ion-row>
            <ion-col>
              <ion-button type="submit" color="light" expand="block" (click)="onSubmitConfirmation(confirmationForm.value)">Confirm</ion-button>
              <!-- <ion-button (click)="onSubmitLogin(loginForm.value)" type="submit" expand="block">Login</ion-button> -->
            </ion-col>
            <!-- <ion-col>
                  <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
                </ion-col> -->
          </ion-row>
      </form>

</ion-content>
