
  <!-- <ion-item> -->
    <!-- <ion-avatar slot="start">
      <img src="/docs/assets/img/avatar-finn.png"></img>
    </ion-avatar> -->
    <ion-label>
      <h2>{{user?.username}}</h2>
      <span>: {{createdAt | momentAgo }}</span>
      <p>{{message.content}}</p>
    </ion-label>
  <!-- </ion-item> -->

  <!-- <ion-content>
      <ion-infinite-scroll>
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data…">
          <ion-label>
              <h2>{{user?.username}}</h2>
              <h4>{{createdAt | momentAgo }}</h4>
              <p>{{message.content}}</p>
            </ion-label>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content> -->
